{% extends 'layout.twig' %}

{% block title %}Paiement de la facture {{ invoice.number }}{% endblock %}

{% block body %}

  <h1>Paiement</h1>

  <p>Facture n° {{ invoice.number }} pour {{ invoice.customer.name }}</p>

  <form action="/payments/create" method="post">
    <input type="hidden" name="invoiceId" value="{{ invoice._id }}">

    <div>
      {% for card in cards %}
        <input type="radio" name="stripeCard" value="{{ card.id }}" id="{{ card.id }}" required{% if loop.index == 1 %} checked{% endif %}>
        <label class="label-inline" for="{{ card.id }}">{{ card.brand }} **** **** **** {{ card.last4 }} (Exp. {{ card.exp_month }}/{{ card.exp_year }})</label><br>
      {% endfor %}
    </div>

    {% if cards is not empty %}
      <button>Payer {{ invoice.amount|currency }}</button>
    {% endif %}

    <br><br>

  </form>

  <form action="/payments/create" method="POST">
    <input type="hidden" name="invoiceId" value="{{ invoice._id }}">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ stripePublicKey }}"
      data-allow-remember-me="false"
      data-amount="{{ invoice.amount }}"
      data-email="{{ invoice.customer.email }}"
      data-name="Biblys"
      data-label="Payer avec une nouvelle carte"
      data-description="Facture n° {{ invoice.number }}"
      data-image="/images/biblys-logo-stripe.jpg"
      data-locale="auto"
      data-currency="eur">
    </script>
  </form>

{% endblock %}
