{% extends 'layout.twig' %}

{% block title %}Paiement de la facture {{ invoice.number }}{% endblock %}

{% block body %}

  <h1>Paiement</h1>

  <p>Facture n° {{ invoice.number }} pour {{ invoice.customer.name }}</p>

  {% if iban %}
    <div class="payment-option">
      <h2>Payer par virement (recommandé)</h2>
      <p>
        IBAN : {{ iban }}<br>
        Montant : {{ invoice.amount | currency }}
      </p>
      <p>
        Merci d'inclure le numéro de facture ({{ invoice.number }}) dans le 
        motif du virement.
      </p>
    </div>
  {% endif %}

  <div class="payment-option">
    <h2>Payer par carte bancaire</h2>

    <button id="pay-button"
      data-stripe-public-key={{ stripePublicKey }}
      data-checkout-session-id={{ checkoutSessionId }}
    >Payer {{ invoice.amount | currency }}</button>
  </div>

  <div class="stripe-logo">
    <a href="https://www.stripe.com">
      <img src="/images/powered-by-stripe.png">
    </a>
  </div>
{% endblock %}
