{% extends 'layout.twig' %}

{% block title %}Paiement de la facture {{ invoice.number }}{% endblock %}

{% block body %}

  <h1>Paiement</h1>

  <p>Facture n° {{ invoice.number }} pour {{ invoice.customer.name }}</p>

  {% if iban %}
    <div class="payment-option">
      <h2>Payer par virement (recommandé)</h2>
      <p>
        IBAN : {{ iban }}<br>
        Montant : {{ invoice.amount | currency }}
      </p>
      <p>
        Merci d'inclure le numéro de facture ({{ invoice.number }}) dans le 
        motif du virement.
      </p>
    </div>
  {% endif %}

  <div class="payment-option">
    <h2>Payer avec une carte sauvegardée</h2>

    {% if cards is empty %}
      <p>Vous n'avez aucune carte sauvegardée.</p>
    {% else %}
      <form action="/payments/create" method="post">
        <input type="hidden" name="invoiceId" value="{{ invoice._id }}">

        <div>
          {% for card in cards %}
            <input type="radio" name="stripeCard" value="{{ card.id }}" id="{{ card.id }}" required{% if loop.index == 1 %} checked{% endif %}>
            <label class="label-inline" for="{{ card.id }}">{{ card.brand }} **** **** **** {{ card.last4 }} (Exp. {{ card.exp_month }}/{{ card.exp_year }})</label><br>
          {% endfor %}
        </div>

        <button>Payer {{ invoice.amount|currency }}</button>
      </form>
    {% endif %}
  </div>

  <div class="payment-option">
    <h2>Payer avec une nouvelle carte</h2>

    <div id="card-form"
      data-stripe-key="{{ stripePublicKey }}"
      data-invoice-id="{{ invoice._id }}"
      data-amount="{{ invoice.amount | currency }}"
    > </div>
  </div>

  <div class="stripe-logo">
    <a href="https://www.stripe.com">
      <img src="/images/powered-by-stripe.png">
    </a>
  </div>

{% endblock %}
