{% extends 'layout.twig' %}

{% block title %}Facture n° {{ invoice.number }}{% endblock %}

{% block body %}
  <h1>Facture n° {{ invoice.number }}</h1>

  <p>{{ invoice.customer.name }}</p>

  {% if invoice.payed %}

    <p>Facture payée le {{ invoice.payedAt|date('d/m/Y') }}</p>

  {% else %}

    <form action="/payments/create" method="POST">
      <input type="hidden" name="invoiceId" value="{{ invoice._id }}">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ stripePublicKey }}"
        data-allow-remember-me="false"
        data-amount="{{ invoice.amount }}"
        data-email="{{ invoice.customer.email }}"
        data-name="Biblys"
        data-label="Payer par carte"
        data-description="Facture n° {{ invoice.number }}"
        data-image="/images/biblys-logo-stripe.jpg"
        data-locale="auto"
        data-currency="eur">
      </script>
    </form>

    {% if iban %}

      <p>Payer par virement : IBAN {{ iban }}</p>

    {% endif %}

  {% endif %}
{% endblock %}
