{% extends 'layout.twig' %}

{% block title %}Facture n° {{ invoice.number }}{% endblock %}

{% block body %}
  <h1>Facture n° {{ invoice.number }}</h1>

  <p>{{ invoice.customer.name }} - {{ invoice.amount|currency }}</p>

  {% if invoice.payed %}

    <p>Facture payée le {{ invoice.payedAt|date('d/m/Y') }}</p>

  {% else %}

    <a class="button" href="/invoices/{{invoice._id}}/pay">Payer</a>

  {% endif %}
{% endblock %}
