{% extends 'layout.twig' %}

{% block title %}Paiements{% endblock %}

{% block body %}

  <h1>Paiements</h1>

  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Facture</th>
        <th>Montant</th>
        <th>Mode</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
        <tr>
          <td>
            {{ payment.customer.name }}
            {% if payment.user %}
              <br><small>{{ payment.user.name }}</small>
            {% endif %}
          </td>
          <td>
            <a href="/invoices/{{ payment.invoice._id }}">{{ payment.invoice.number }}</a>
          </td>
          <td>{{ payment.amount|currency }}</td>
          <td>{{ payment.method }}</td>
          <td>{{ payment.createdAt|date('d/m/Y') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
